*{
  padding: 0;
  margin: 0; 
}
html, body{
  height: 100%;
}
body{
  color: peru;
}

#container {
    border-left: 3px red solid;
    border-right: 3px red solid;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
#header {
    border: 1px blue solid;
    flex:0 0 50px;
}
#content {
 border: 1px blue solid;
 flex: 1 1 100%;
 display: flex;
 flex-direction: row;
}
.left-menu {
    flex: 0 0 200px;
    border: 1px blue solid;
    overflow-y:auto;
}
.main-content {
  flex: 1 1 100%;
  border: 1px blue solid;
  overflow:auto;
}

#footer {
     border: 1px blue solid;
     flex: 0 0 100px;
}